/* stylelint-disable property-no-unknown */

html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  height: 1200px;
  width: 1920px;
}

canvas {
  -webkit-user-drag: none;
  user-drag: none;
}
